 

.Profile {
    background-color: rgb(102, 48, 102);
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
 
 
 /* Carousel image sizes */
 #hobbyCarousel .carousel-item img {
    width: 100%; /* responsive width */
    height: 500px; /* keep the height fixed height */
    object-fit: cover; /* don't want the image to be distorted */
}

#footer{
    padding: 7% 15%;
    text-align: center;
}

.Video{
    text-align: center;
}